.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #a2a42f;
  margin: 20pc;
}

h1 {
  
  font-family: Arial, Helvetica, sans-serif, cursive;
  
  font-size: 2rem;
  color: #df6f1a;

  
}

p {
  font-size: 2rem;
  color: #080808dd;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.footer {
  margin-top: 5%;
  color: #100f0f;
  text-align: center;
  font-family: "Indie Flower", cursive;
 
}
